body {
	width: 100%;
	margin: 0px;
	background-color: transparent;
}

img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

@font-face {
	font-family: "clear-sans";
	src: url("/fonts/ClearSans-Medium.ttf");
}

@font-face {
	font-family: "heavitas";
	src: url("/fonts/Heavitas.ttf");
}

@font-face {
	font-family: "papyrus";
	src: url("/fonts/papyrus.ttf");
}

@font-face {
	font-family: "windows";
	src: url("/fonts/Windows\ Regular.ttf");
}

.flex-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition-duration: 0s !important;
    }
}



/*========== Body Spacer ===========*/

.body-spacer {
	padding: 0 20% 0 20%;
}



/*==========  Starry Background  ==========*/

#starry-wrapper, #starry-canvas {
	position: absolute;
	z-index: -1;
	width: 100%;
}

#starry-canvas {
	background-image: linear-gradient(black, rgb(33, 0, 151));
	height: 100%;
    image-rendering: pixelated;
}



/*========== Interactive Control ==============*/

#control-wrapper {
	position: fixed;
	top: 100px;
	left: 0;
	margin-left: -95px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.control-panel {
	color: #fff;
	font-family: "clear-sans", Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #0005;
	border-color: #fff;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	display: inline-block;
	z-index: 1;
}

#interactives-control {
	width: 80px;
	height: 150px;
}

#control-hover {
	width: 30px;
	height: 30px;
	vertical-align: top;
	display: inline-block;
}


/*==========  Menu  ==========*/

#menubar-spacer {
	padding: 50px 15% 50px 17%;
	background-color: transparent;
}

.menu-panel {
	padding: 20px;
	background-color: #0005;
	border-style: solid;
	border-color: black;
	border-top: 0px;
	border-left: 0px;
	box-shadow: 5px 0px rgb(198, 214, 208), 5px 5px rgb(198, 214, 208);
}

.menu-panel {
	background-color: rgb(0, 195, 40);
	margin-top: 50px;
	padding: 15px 20px 15px 15px;
}

#logo-button-flex-container {
	display: flex;
	gap: 10px;
	justify-content: flex-start;
}

#homepage-link {
	text-decoration: none;
}

#button-home-image {
	height: 150px;
	margin-top: -80px;
	margin-left: -60px;
	margin-bottom: -50px;
	transition: all 0.12s ease-out 0.08s;
}

#button-home-image:hover {
    cursor: default;
    transform: rotate(-8deg);
    transition: all 0.08s ease-out 0.04s;
}

#title-text-top-container {
	margin-top: -45px;
	margin-left: 0px;
}

#title-text-bottom-container {
	margin-top: -10px;
	margin-left: -230px;
	margin-bottom: -20px;
}

#title-text-top {
	font-size: large;
	text-align: center;
	color: white;
	font-family: "clear-sans", Helvetica, Arial, sans-serif;
}

#title-text-bottom {
	font-size: 40px;
	text-align: center;
	text-shadow: 1.5px 1.5px 2px rgb(0, 0, 0);
	color: white;
	font-family: "heavitas", Helvetica, Arial, sans-serif;
}

#menu-buttons-flex-container {
	align-items: center;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	gap: 30px;
}

.menu-button {
	background-color: transparent;
	border: 0;
	color: white;
	text-shadow: 1px 1px 2px black;
	text-decoration: none;
	font-family: "clear-sans", Arial, Helvetica, sans-serif;
	font-size: large;
}

.menu-button-image {
	filter: drop-shadow(1px 1px 1px black);
}


/*========== Body ============*/

#body-wrapper {
	padding: 0 15% 0 15%;
}

.content-panel, .content-panel-inner, .content-panel-body {
	box-sizing: border-box;
}

.content-panel, .content-panel-inner, .content-panel-body, .panel-header-x {
	padding: 0;
	border-width: 2px;
	border-style: outset;
	border-color: rgb(198, 214, 208);
}

.content-panel {
	background-color: #0005;
	border-bottom-color: rgb(122, 130, 126);
	border-top-color: rgb(241, 244, 243);
	border-left-color: rgb(241, 244, 243);
	box-shadow: 1px 1px 5px #000d;
}

.content-panel-inner {
	height:100%;
	border-style: solid;
	border-width: 3px;
	display: flex;
	flex-direction: column;
}

.content-panel-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: default;
	font-family: "windows", Arial, Helvetica, sans-serif;
	color: white;
	margin: 0;
	padding: 1px 3px 1px 3px;
	background-image: linear-gradient(.25turn, rgb(0, 126, 40), 60%, rgb(0, 242, 93));
	border-width: 0px 0px 3px 0px;
	border-style: solid;
	border-color: rgb(198, 214, 208);
}

.panel-header-info {
	display:flex;
	align-items:center;
	flex-direction: row;
	justify-content: left;
}

.panel-icon {
	margin: -5px 4px -5px 1px;
}

.panel-header-x {
	color: #000;
	font-size: small;
	text-align: center;
	line-height: 15px;
	width: 18px;
	height: 15px;
	background-color: rgb(198, 214, 208);
	border-left-color: rgb(241, 244, 243);
	border-top-color: rgb(241, 244, 243);
	border-bottom-color: rgb(101, 110, 106);
	border-right-color: rgb(101, 110, 106);
}

.panel-header-x:active:hover {
	border-left-color: rgb(101, 110, 106);
	border-top-color: rgb(101, 110, 106);
	border-bottom-color: rgb(241, 244, 243);
	border-right-color: rgb(241, 244, 243);
}

.content-panel-body {
	background-color: white;
	height: 100%;
	border-style: inset;
	border-top-color: rgb(101, 110, 106);
	border-bottom-color: rgb(241, 244, 243);
	border-right-color: rgb(241, 244, 243);
}


/*==========  Footer  ==========*/



#footer-transition-wrapper {
    background-image: url("/images/footer_mountains.png");
    background-repeat: repeat-x;
    background-position: 60% center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#footer-transition-repeat-left {
    display: inline-block;
    height: 100%;
    background-image: url("images/footer_repeat.png");
    background-size: auto auto;
	background-position: right center;
	background-repeat: repeat-x;
}

#footer-transition-main {

}

#footer-transition-repeat-right {
    display: inline-block;
    height: 100%;
    background-image: url("images/footer_repeat.png");
    background-size: auto auto;
	background-position: left center;
	background-repeat: repeat-x;
}

#footer-transition-wrapper::selection {
 	background-color: transparent;
}

#footer-wrapper {
	width: 100%;
	background-image: url("/images/grass_transition.svg");
	background-size: 800px auto;
	background-position: top center;
	background-repeat: repeat-x;
	background-color: rgb(81, 46, 0);
}

#footer-spacer {
	padding: 200px 100px 150px 100px
}

#footer-text {
	width: 100%;
	line-height: 35px;
	color: white;
	text-align: center;
	font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
}

#footer-emojis {
	font-family: "papyrus", "Comic Sans", Arial, Helvetica, sans-serif;
}

.ui-image-full-width {
	width: 100%;
	/*background-image: linear-gradient(black, rgb(24, 0, 161));*/
	line-height: 0%;
}


