body {
	width: 100%;
	margin: 0px;
}


p {
	margin: 0px;
}


@font-face {
	font-family: "clear-sans";
	src: url("./fonts/ClearSans-Medium.ttf");
}


@font-face {
	font-family: "papyrus";
	src: url("./fonts/papyrus.ttf");
}


#footer-wrapper {
	width: 100%;
	background-image: linear-gradient(rgb(0, 255, 0), rgb(50, 162, 50));
}


#footer-spacer {
	padding: 20px 100px 30px 100px
}


#footer-text {
	width: 100%;
	line-height: 25px;
	color: white;
	text-align: center;
	font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
}


#footer-emojis {
	font-family: "papyrus", "Comic Sans", Arial, Helvetica, sans-serif;
}


.ui-image-full-width {
	width: 100%;
	background-image: linear-gradient(black, rgb(38, 0, 133));
	line-height: 0%;
}