:root {
	--stars-gradient-top: rgb(8, 0, 17);
	--stars-gradient-bottom: rgb(29, 0, 134);
	--menu-bg-color: rgb(0, 195, 40);
	--panel-main-col: rgb(198, 214, 208);
	--panel-main-col-half-opacity: rgba(198, 214, 208, 0.5);
	--panel-top-bevel: rgb(241, 244, 243);
	--panel-ui-darker-bevel: rgb(101, 110, 106);
	--panel-bottom-bevel-special: rgb(122, 130, 126);
	--window-shadow-col: #000d;
}


* {
	box-sizing: border-box;
}

.default-body {
    margin: 8px 0px;
    font-size: 17px;
}

body {
	width: 100%;
	margin: 0px;
	background-color: transparent;
}

.center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

img {
    image-rendering: -moz-pixelated;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.inline-link {
    margin: 0px 15px;
}

.borderless-table {
	border: none;
}

@font-face {
	font-family: "clear-sans";
	src: url("/fonts/ClearSans-Medium.ttf");
}

@font-face {
	font-family: "heavitas";
	src: url("/fonts/Heavitas.ttf");
}

@font-face {
	font-family: "comic-papyrus";
	src: url("/fonts/Comic\ Papyrus.ttf");
}

@font-face {
	font-family: "windows";
	src: url("/fonts/Windows\ Regular.ttf");
}

.flex-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition-duration: 0s !important;
    }
}



/*========== Body Spacer ===========*/

.body-spacer {
	padding: 0 20% 0 20%;
}



/*==========  Starry Background  ==========*/

#starry-wrapper, #starry-canvas {
	position: absolute;
	z-index: -1;
	width: 100%;
}

#starry-canvas {
	background-image: linear-gradient(var(--stars-gradient-top), var(--stars-gradient-bottom));
	height: 100%;
    image-rendering: pixelated;
}



/*========== Interactive Control ==============*/

#control-wrapper {
	position: fixed;
	top: 100px;
	left: 0;
	margin-left: -80px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.control-panel {
	color: #fff;
	font-family: "clear-sans", Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #0005;
	border-color: #fff;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	display: inline-block;
	z-index: 1;
}

#interactives-control {
	width: 80px;
	height: 150px;
}

#control-hover {
	width: 30px;
	height: 30px;
	vertical-align: top;
	display: inline-block;
}


/*==========  Menu  ==========*/

#menubar-spacer {
	padding: 50px 15% 50px 17%;
	background-color: transparent;
}

.menu-panel {
	padding: 20px;
	border-style: solid;
	border-color: black;
	border-top: 0px;
	border-left: 0px;
	box-shadow: 5px 0px var(--panel-main-col), 5px 5px var(--panel-main-col);
}

.menu-panel {
	background-color: var(--menu-bg-color);
	margin-top: 50px;
	padding: 15px 20px 15px 15px;
}

#logo-button-flex-container {
	display: flex;
	gap: 10px;
	justify-content: flex-start;
}

#homepage-link {
	text-decoration: none;
}

#button-home-image {
	height: 150px;
	margin-top: -80px;
	margin-left: -60px;
	margin-bottom: -50px;
	transition: all 0.12s ease-out 0.08s;
}

#button-home-image:hover {
    cursor: default;
    transform: rotate(-8deg);
    transition: all 0.08s ease-out 0.04s;
}

#title-text-top-container {
	margin-top: -45px;
	margin-left: 0px;
}

#title-text-bottom-container {
	margin-top: -10px;
	margin-left: -230px;
	margin-bottom: -20px;
}

#title-text-top {
	font-size: large;
	text-align: center;
	color: white;
	font-family: "clear-sans", Helvetica, Arial, sans-serif;
}

#title-text-bottom {
	font-size: 40px;
	text-align: center;
	text-shadow: 1.5px 1.5px 2px black;
	color: white;
	font-family: "heavitas", Helvetica, Arial, sans-serif;
}

#menu-buttons-flex-container {
	align-items: center;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	gap: 30px;
}

.menu-button {
	background-color: transparent;
	border: 0;
	color: white;
	text-shadow: 1px 1px 2px black;
	text-decoration: none;
	font-family: "clear-sans", Arial, Helvetica, sans-serif;
	font-size: large;
}

.menu-button-image {
	filter: drop-shadow(1px 1px 1px black);
}


/*========== Body ============*/

.focused {
	z-index: 5;
}

#body-wrapper {
	width: 1px;
    margin: auto;
}

.content-panel, .content-panel-inner, .content-panel-body, .content-panel-body-outer, .content-panel-body-div {
	overflow: hidden;
}

.content-panel, .content-panel-inner, .content-panel-body-outer, .panel-header-x {
	padding: 0;
	border-width: 2px;
	border-style: outset;
	border-color: rgb(198, 214, 208);
}

.content-panel {
	position: absolute;
	background-color: #0005;
	border-bottom-color: var(--panel-bottom-bevel-special);
	border-top-color: var(--panel-top-bevel);
	border-left-color: var(--panel-top-bevel);
	box-shadow: 1px 1px 5px var(--window-shadow-col);
}

.content-panel-inner {
	height:100%;
	border-style: solid;
	border-width: 3px;
	display: flex;
	flex-direction: column;
}

.content-panel-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: default;
	font-family: "windows", Arial, Helvetica, sans-serif;
	color: white;
	margin: 0;
	padding: 1px 3px 1px 3px;
	background-image: linear-gradient(.25turn, rgb(0, 126, 40), 60%, rgb(0, 242, 93));
	border-width: 0px 0px 3px 0px;
	border-style: solid;
	border-color: rgb(198, 214, 208);
}

.panel-header-info {
	display:flex;
	align-items:center;
	flex-direction: row;
	justify-content: left;
}

.panel-icon {
	margin: -5px 4px -5px 1px;
}

.panel-header-x {
	color: #000;
	font-size: small;
	text-align: center;
	line-height: 15px;
	width: 22px;
	height: 19px;
	background-color: var(--panel-main-col);
	border-left-color: var(--panel-top-bevel);
	border-top-color: var(--panel-top-bevel);
	border-bottom-color: var(--panel-ui-darker-bevel);
	border-right-color: var(--panel-ui-darker-bevel);
}

.panel-header-x:active:hover {
	border-left-color: var(--panel-ui-darker-bevel);
	border-top-color: var(--panel-ui-darker-bevel);
	border-bottom-color: var(--panel-top-bevel);
	border-right-color: var(--panel-top-bevel);
}

.content-panel-body-outer {
	height: 100%;
	border-width: 1px;
	border-style: inset;
	border-top-color: var(--panel-top-bevel);
	border-left-color: var(--panel-top-bevel);
	border-bottom-color: white;
	border-right-color: white;
}

.content-panel-body {
	height: 100%;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-top-color: black;
	border-left-color: black;
	border-right-color: var(--panel-main-col);
	border-bottom-color: var(--panel-main-col);
}

.content-panel-body-div {
 	display: flex;
	flex-direction: column;
	padding: 10px 15px 10px 15px;
}



/*==========  Projects Viewer  ==========*/

#root {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: var(--panel-main-col);
}

.ScrollbarsCustom-Track.ScrollbarsCustom-TrackY {
	top: 0px !important;
	height: 100% !important;
	width: 16px !important;
	border-radius: 0px !important;
	background-color: var(--panel-main-col-half-opacity) !important;
}

.ScrollbarsCustom-Thumb.ScrollbarsCustom-ThumbY {
	width: 100% !important;
	background-color: var(--panel-main-col) !important;
	border-radius: 0px !important;

	border-style: solid;
	border-width: 1px;
	border-top-color: var(--panel-main-col);
	border-left-color: var(--panel-main-col);
	border-right-color: black;
	border-bottom-color: black;
}

.thumbYInnerDiv{
	width: 100%;
	height: 100%;

	border-style: solid;
	border-width: 1px;
	border-top-color: white;
	border-left-color: white;
	border-right-color: var(--panel-ui-darker-bevel);
	border-bottom-color: var(--panel-ui-darker-bevel);
}




/*==========  Footer  ==========*/

#footer-transition-wrapper {
    perspective: 1px;
    background-image: url("/images/footer_mountains.png");
    background-repeat: repeat-x;
    background-position: 60% center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    transform: translateZ(30px);
}

#footer-transition-repeat-left {
    background-image: url("/images/footer_repeat.png");
	background-position: right center;
	background-repeat: repeat-x;

    transform: translateZ(0);
}

#footer-transition-main {
    flex-shrink: 0;
}

#footer-transition-repeat-right {
    background-image: url("/images/footer_repeat.png");
	background-position: left center;
	background-repeat: repeat-x;
}

#footer-transition-wrapper::selection {
 	background-color: transparent;
}

#footer-wrapper {
	width: 100%;
    background-size: auto 100%;
    background-position: center center;
    background-image: url("/images/footer_underground.png");
    background-repeat: repeat-x;
}

#footer-filter {
    width: 100%;
    height: 100%;
    background: linear-gradient(#0000, 45%,  #000d);
}

#footer-grass-transition {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-position: center top;
    background-image: url("/images/hanging_grass.png");
    background-repeat: repeat-x;
}

#footer-spacer {
	padding: 90px 100px 220px 100px
}

#footer-text, #footer-emojis {
    font-size: large;
	width: 100%;
	color: rgb(235, 224, 203);
	text-align: center;
	font-family: "comic-papyrus", "Comic Sans", Arial, Helvetica, sans-serif;
}


.ui-image-full-width {
	width: 100%;
	/*background-image: linear-gradient(black, rgb(24, 0, 161));*/
	line-height: 0%;
}


